In [1]:
import os
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = 'true'

import pandas as pd
import numpy as np

from myapp.models import Datas

db = Datas.objects.all()
df = pd.DataFrame(db.values())

In [2]:
def konvers(csv):
    csv[['jenis_kelamin']] = np.where(csv[['jenis_kelamin']] == 'perempuan', 0, 1)

    kondisi = [
            (csv['jenis_kelamin'] == 1) & (csv['tinggi_badan'] < 148),
            (csv['jenis_kelamin'] == 1) & (csv['tinggi_badan'] > 158),
            (csv['jenis_kelamin'] == 0) & (csv['tinggi_badan'] < 145), 
            (csv['jenis_kelamin'] == 0) & (csv['tinggi_badan'] > 155)
        ]

    kondisi_berat_badan = [
            (csv['jenis_kelamin'] == 1) & (csv['berat_badan'] < 37),
            (csv['jenis_kelamin'] == 1) & (csv['berat_badan'] > 45),
            (csv['jenis_kelamin'] == 0) & (csv['berat_badan'] < 35), 
            (csv['jenis_kelamin'] == 0) & (csv['berat_badan'] > 40)
        ]

    pilihan = [0, 0, 0, 0]
    csv['tinggi_badan'] = np.select(kondisi, pilihan, default=1)
    csv['berat_badan'] = np.select(kondisi_berat_badan, pilihan, default=1)
    return csv

In [3]:
csv = df.copy()
labeling = csv.copy()

In [4]:
labeling = konvers(csv)

In [5]:
data_training_lari = labeling[['jenis_kelamin', 'tinggi_badan', 'berat_badan', 'kemampuan_fisik_lari', 'teknik_dasar_lari', 'hasil_bakat_lari']]
data_training_voli = labeling[['jenis_kelamin', 'tinggi_badan', 'berat_badan', 'kemampuan_fisik_voli', 'teknik_dasar_voli', 'hasil_bakat_voli']]
data_training_renang = labeling[['jenis_kelamin', 'tinggi_badan', 'berat_badan', 'kemampuan_fisik_renang', 'teknik_dasar_renang', 'hasil_bakat_renang']]
data_training_bulu_tangkis = labeling[['jenis_kelamin', 'tinggi_badan', 'berat_badan', 'kemampuan_fisik_bulu_tangkis', 'teknik_dasar_bulu_tangkis', 'hasil_bakat_bulu_tangkis']]
data_training_sepak_bola = labeling[['jenis_kelamin', 'tinggi_badan', 'berat_badan', 'kemampuan_fisik_sepak_bola', 'teknik_dasar_sepak_bola', 'hasil_bakat_sepak_bola']]
data_training_tenis_meja = labeling[['jenis_kelamin', 'tinggi_badan', 'berat_badan', 'kemampuan_fisik_tenis_meja', 'teknik_dasar_tenis_meja', 'hasil_bakat_tenis_meja']]
data_training_tolak_peluru = labeling[['jenis_kelamin', 'tinggi_badan', 'berat_badan', 'kemampuan_fisik_tolak_peluru', 'teknik_dasar_tolak_peluru', 'hasil_bakat_tolak_peluru']]

pembentukan data training

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [7]:
y_lari = csv['hasil_bakat_lari']
x_lari = csv[['jenis_kelamin', 'tinggi_badan', 'berat_badan', 'kemampuan_fisik_lari','teknik_dasar_lari']]
x_train_lari, x_test_lari, y_train_lari, y_test_lari = train_test_split(x_lari,y_lari, test_size=0.2, random_state=0)

In [8]:
model_lari = GaussianNB()
model_lari.fit(x_train_lari, y_train_lari)

GaussianNB()

In [9]:
y_prediksi_lari = model_lari.predict(x_test_lari)

pengujian

In [10]:
from sklearn import metrics

In [11]:
precision = metrics.precision_score(y_test_lari, y_prediksi_lari, average=None)
recall = metrics.recall_score(y_test_lari, y_prediksi_lari, average=None)
akurasi = metrics.accuracy_score(y_test_lari, y_prediksi_lari)

In [12]:
round(precision[1], 2)

1.0

In [23]:
x_test_lari.values

array([[ 1,  1,  1, 80, 80],
       [ 0,  1,  1, 70, 70],
       [ 0,  1,  0, 85, 85],
       [ 1,  0,  0, 90, 90],
       [ 0,  0,  0, 80, 80],
       [ 0,  1,  1, 85, 85],
       [ 1,  0,  1, 95, 95],
       [ 0,  1,  1, 75, 75],
       [ 0,  0,  0, 90, 90],
       [ 1,  0,  1, 85, 85],
       [ 1,  1,  1, 85, 85],
       [ 1,  0,  1, 90, 90],
       [ 0,  1,  1, 80, 80],
       [ 0,  1,  1, 90, 90],
       [ 0,  1,  1, 90, 90],
       [ 1,  1,  1, 70, 70],
       [ 0,  1,  0, 75, 75],
       [ 0,  0,  0, 90, 90],
       [ 1,  1,  1, 75, 75],
       [ 0,  0,  0, 85, 85],
       [ 1,  0,  1, 80, 80],
       [ 1,  1,  1, 90, 90],
       [ 0,  0,  1, 75, 75],
       [ 1,  1,  1, 80, 80]], dtype=int64)

FINISH

In [19]:
x_train_lari

,jenis_kelamin,tinggi_badan,berat_badan,kemampuan_fisik_lari,teknik_dasar_lari
71,0,1,1,85,85
97,0,1,0,95,95
111,0,1,1,85,85
100,0,0,0,75,75
8,1,1,0,85,85
...,...,...,...,...,...
112,0,1,1,75,75
67,1,1,1,85,85
64,1,1,1,90,90
47,0,0,0,80,80
44,1,1,1,90,90

In [14]:
y_train_lari

71     85
97     95
111    85
100    75
8      85
       ..
112    75
67     85
64     90
47     80
44     90
Name: hasil_bakat_lari, Length: 92, dtype: object

In [18]:
x_test_lari.iloc[1,:]

jenis_kelamin            0
tinggi_badan             1
berat_badan              1
kemampuan_fisik_lari    70
teknik_dasar_lari       70
Name: 74, dtype: int64

In [ ]:
csv

In [ ]:
csv = df.copy()

In [ ]:
csv[['hasil_bakat_lari', 'hasil_bakat_voli', 'hasil_bakat_renang', 'hasil_bakat_sepak_bola','hasil_bakat_bulu_tangkis', 'hasil_bakat_tenis_meja', 'hasil_bakat_tolak_peluru']]

In [ ]:
labeling.head(11)

In [ ]:
# pengkondisian untuk ideal dan nonideal

# if jenis_kelamin == 'perempuan':
#     if tinggi_badan < 145:
#         pass
#     if tinggi_badan > 155
#         pass
# else:
#     if tinggi_badan < 148:
#         pass
#     if tinggi_badan > 158
#         pass/

In [ ]:
konvers(csv)

In [ ]:
y_test_lari

In [ ]:
y_prediksi_lari

In [ ]:
x_test_lari

In [ ]:
gabung = x_test_lari.copy()

In [ ]:
gabung['hasil_bakat_lari'] = y_test_lari

In [ ]:
gabung

In [ ]:
x_test_lari.iloc[1, :].values

In [ ]:
siswa1 = np.array([0,0,0, 50, 45])

In [ ]:
model_lari.predict([siswa1])