In [2]:
from myapp.models import Datas

import numpy as np
import pandas as pd

In [3]:
from pydataset import data
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

from mixed_naive_bayes import MixedNB

In [4]:
from tablib import Dataset

In [5]:
db = Datas.objects.all()

In [6]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = 'true'

In [7]:
db

In [12]:
csv = pd.DataFrame(db.values())
label_encoder = preprocessing.LabelEncoder()
csv[['jk', 'p_mengulang', 'p_cuti', 'sam_bekerja','a_papua']] = csv[['jk', 'p_mengulang', 'p_cuti', 'sam_bekerja','a_papua']].apply(label_encoder.fit_transform)
y = csv['prediksi']	
x = csv[['jk', 'p_mengulang', 'ipk', 'p_cuti','sam_bekerja','a_papua','ipk_sm1']]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=0)
nv = GaussianNB()

ajar = nv.fit(x_train, y_train)
y_pred = nv.predict(x_test)

In [13]:
y_test

7     t
2    tw
1    tw
Name: prediksi, dtype: object

In [14]:
y_pred

array(['tw', 'tw', 'tw'], dtype='<U2')

In [17]:
ubah_ke_angka = preprocessing.LabelEncoder()

In [20]:
le = preprocessing.LabelEncoder()

In [24]:
encoding = le.fit_transform(y_pred)

In [23]:
y_pred

array(['tw', 'tw', 'tw'], dtype='<U2')

In [26]:
encoding

array([0, 0, 0], dtype=int32)

In [28]:
le.inverse_transform(encoding)

array(['tw', 'tw', 'tw'], dtype='<U2')

In [29]:
y_pred

array(['tw', 'tw', 'tw'], dtype='<U2')

In [30]:
encoding

array([0, 0, 0], dtype=int32)

In [31]:
x_train

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [38]:
y_train

4    tw
8    tw
6    tw
3    tw
0     t
5     t
Name: prediksi, dtype: object

In [40]:
x_train.ndim

2

In [54]:
x_train.insert(7, 'prediksi', y_train)

In [50]:
x_train.drop(['prediksi'], axis=1)

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [55]:
x_train

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1 prediksi
4   1            0  2.4       0            0        1      3.0       tw
8   0            1  2.7       0            1        1      3.0       tw
6   1            0  3.0       1            0        0      2.7       tw
3   0            0  2.0       1            1        1      3.0       tw
0   0            1  2.4       1            1        1      2.0        t
5   1            1  2.5       0            0        0      2.8        t

In [53]:
x_train

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [56]:
x_train

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1 prediksi
4   1            0  2.4       0            0        1      3.0       tw
8   0            1  2.7       0            1        1      3.0       tw
6   1            0  3.0       1            0        0      2.7       tw
3   0            0  2.0       1            1        1      3.0       tw
0   0            1  2.4       1            1        1      2.0        t
5   1            1  2.5       0            0        0      2.8        t

In [64]:
x_train

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [60]:
dd = x_train.insert(7, 'prediksi', y_train)

In [61]:
dd

In [65]:
x_train

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [67]:
gabung = x_train.copy

In [68]:
gabung

<bound method NDFrame.copy of    jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8>

In [69]:
x_train

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [71]:
import copy

In [72]:
copy

In [73]:
ba = copy.copy(x_train)

In [74]:
ba

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [75]:
ba.insert(7,'prediksi', y_train)

In [76]:
ba

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1 prediksi
4   1            0  2.4       0            0        1      3.0       tw
8   0            1  2.7       0            1        1      3.0       tw
6   1            0  3.0       1            0        0      2.7       tw
3   0            0  2.0       1            1        1      3.0       tw
0   0            1  2.4       1            1        1      2.0        t
5   1            1  2.5       0            0        0      2.8        t

In [77]:
x_train

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [79]:
dg = x_train.copy()

In [80]:
dg

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [81]:
dg.insert(7,'prediksi', y_train)

In [82]:
dg

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1 prediksi
4   1            0  2.4       0            0        1      3.0       tw
8   0            1  2.7       0            1        1      3.0       tw
6   1            0  3.0       1            0        0      2.7       tw
3   0            0  2.0       1            1        1      3.0       tw
0   0            1  2.4       1            1        1      2.0        t
5   1            1  2.5       0            0        0      2.8        t

In [83]:
x_train

   jk  p_mengulang  ipk  p_cuti  sam_bekerja  a_papua  ipk_sm1
4   1            0  2.4       0            0        1      3.0
8   0            1  2.7       0            1        1      3.0
6   1            0  3.0       1            0        0      2.7
3   0            0  2.0       1            1        1      3.0
0   0            1  2.4       1            1        1      2.0
5   1            1  2.5       0            0        0      2.8

In [84]:
y_test

7     t
2    tw
1    tw
Name: prediksi, dtype: object

In [85]:
y_test

7     t
2    tw
1    tw
Name: prediksi, dtype: object

In [86]:
y_pred

array(['tw', 'tw', 'tw'], dtype='<U2')

In [88]:
kenyataan = label_encoder.fit_transform(y_test)		# y_true

In [89]:
prediksinya = label_encoder.fit_transform(y_pred)	# y_pred

In [91]:
kenyataan

array([0, 1, 1])

In [92]:
prediksinya

array([0, 0, 0], dtype=int32)

In [93]:
y_test

7     t
2    tw
1    tw
Name: prediksi, dtype: object

In [95]:
y_pred

array(['tw', 'tw', 'tw'], dtype='<U2')

In [1]:
listnya = ['t', 'tw']